body {
  font-family: "Roboto", sans-serif;
  position: relative;
  color: $main-black;
}

.rest-container {
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  @include adaptive(tablet) {
    max-width: 700px;
  }
  @include adaptive(mobile) {
    max-width: 312px;
  }
}
a {
  color: $main-black;
}
.green-btn {
  height: 46px;
  border-radius: 4px;
  border: none;
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(9, 8, 8, 0.1);
  background-color: $green;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: $main-black;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}
.grey-btn {
  height: 46px;
  border-radius: 4px;
  border: none;
  padding: 0 35px;
  min-width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(9, 8, 8, 0.1);
  background-color: $white;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: $main-black;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}
.title {
  color: $main-black;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
