$main-black: #212020;
$black-70: rgba(9, 8, 8, 0.7);
$white: #fdfcfc;
$green: #d0f065;
$pastel: #faf8ee;
$border-gradient: linear-gradient(
  180deg,
  rgba(208, 240, 101, 1) 50%,
  rgba(208, 240, 101, 0) 100%
);
$bg-gradient: linear-gradient(
  180deg,
  rgba(246, 255, 217, 1) 50%,
  rgba(246, 255, 217, 0) 100%
);
